/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#allproducts img{
	height: 200px;
	width: auto;
}

#allproducts li {
	display: inline-block;
	margin-bottom: 40px;
	text-decoration: none;

}

#allproducts li a{
	text-decoration: none;
	color: black;
}


#allproducts li a:hover {
	color: red;
}

#allproducts li a:visited {
	color:black;
}

#item img {
	height: 300px;
	width: auto;
}

.next {
	margin-left: 600px;
}
nav ul {
	list-style-type: none;
	margin-top: -30px;
	text-align: right;
}

nav li {
	display: inline-block;

}

#cart {
	padding-left: 20px;
	padding-right: 20px;
}

nav {
	background-color: #869FA3;
	border: solid 2px;
}

#logo a {
	text-decoration: none;
	margin-left: 10px;
	font-family: 'Cabin';
	font-size: 30px;
	color: #1F3033;
}

#logo a:visited {
	color: #1F3033;
}

#product, #allproducts, #cards, #users {
margin-left: 5px;
margin-right: 5px;
}

