<h1>WELCOME TO FURNITURE FOR LESS</h1>
<div id="allproducts">
	<h2> Items for sale...</h2>
	<% @productall.each do |product| %>
	<li><%= link_to product_path(product) do %> 
			<%= product.name %>
			<br>
			<%= image_tag product.photo %> 
     	<% end %>
	</li>
	<% end %>
</div>

<br>
<hr>



<%= link_to "Back", :back %>